name: Go
env:
  GOPATH: ${{ github.workspace }}
  GOBIN: ${{ github.workspace }}/bin
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
defaults:
  run:
    working-directory: ${{ github.workspace }}/src/wstunnel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        path: ${{ github.workspace }}/src/myproject
    - name: Debug
      run: |
        pwd
        echo ${HOME}
        echo ${GITHUB_WORKSPACE}
        echo ${GOPATH}
        echo ${GOROOT}
    - name: make-depend
      run: make depend
    - name: Build
      run: make build
    - name: Tidy
      run: go mod tidy
    - name: Run Revive Action by pulling pre-built image
      uses: docker://morphy/revive-action:v2
    - name: Test
      run: |
        make depend
        find . -name ginkgo