# .github/workflows/release.yml
name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  go-build:
    uses: ./.github/workflows/go.yml

  release:
    needs: go-build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - uses: actions/setup-go@v5.0.2
        with:
          go-version: '1.23'
          cache: true
          cache-dependency-path: go.sum
      
      - name: Generate Changelog
        run: |
          go install github.com/git-chglog/git-chglog/cmd/git-chglog@latest
          git-chglog --output CHANGELOG.md
          echo "RELEASE_NOTE=$(cat CHANGELOG.md)" >> $GITHUB_ENV
      
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_NOTE: ${{ env.RELEASE_NOTE }}